<div class="hero">
  <div class="hero-inner">
<div id="register">
<h2>Sign In</h2>
<%= form_for :session, url: session_path do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.submit "Sign in" %>
  </div>
<% end %>

<h2>Sign up</h2>

    <%= form_for(@user) do |form| %>
      <div>
      <%= form.label :email %>
      <%= form.email_field :email %>
      </div>
      <div>
       <div>
      <%= form.label :password %>
      <%= form.password_field :password %>
      </div>
        <%= form.submit "Sign up!!" %>
    <% end %>

  </div>
</div>
</div>