<!DOCTYPE html>
<html>
<head>
  <title>Rickrollr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>

	<header class="top-bar">
	<% if signed_in? %>
	  Welcome <%= current_user.email %>
	  <%= link_to "Sign out", session_path, method: :delete %>
	<% else %>
	  <%= link_to "Sign in!", new_session_path %>
	  <%= link_to "Sign Up!", new_user_path %>
	<% end %>
  </header> 

	<div id="container">
	<div id="row">

<%= yield %>

</div>
</div>

</body>
</html>
